div {
    text-align: center;
}

ul {
  list-style-type: none;
}

table {
    margin: 0 auto;
    border: 0px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: #e0e0eb;
    width: 60%;
  }

thead, tbody { display: block; }

tbody {
    height: 300px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

th {
    border: 1px solid black;
    text-align: center;
    background-color: #1a1a1a;
    color: white;
}

td {
    border: 1px solid black;
}

tbody td, thead th {
    width: 400px;
}

tr {
    transition: all 0.5s ease;
}

tr:hover {
  background-color: #a09fd7;
}

input[type=text] {
    width: 25%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../res/searchicon.png');
    background-position: 0px 2px;
    background-size: 35px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
    background-image: none;
    width: 50%;
    padding: 12px 20px 12px 12px;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
}

#container {
    padding-top: 10%;
}

#spacer {
    visibility: hidden;
}
#choices {
    color: darkred;
    padding-right: 13.5%;
}
